#content{
    display:flex;
    border:1px solid black;
}

#cards {
    flex: 3 1 0;
    display:flex;
    flex-wrap: wrap;
}
.cardBox {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    border-radius:5px;
    border: 5px solid black;
}

.cardDisplay {
    flex: 0 1 auto;
    width: 373px;
    height:520px;
    border: 1px solid black;
}



.cardBox .cardNameInput {
    margin:auto;
    display:inline-block;
}

#synergies {
    flex: 1 1 auto;
    height: 520px;
    background-color: lightgray;
    border-radius: 5px;
    border: 5px solid black;
}

.synergyBox {
    background-color: gray;
    border-radius: 5px;
    border: 5px solid black;
    display: flex;
}